index.php
readme.html  
wp-activate.php  
wp-blog-header.php
wp-config-sample.php 
wp-config.php 
wp-cron.php  
wp-links-opml.php  
wp-login.php  
wp-settings.php  
wp-trackback.php
license.txt
wp-comments-post.php  
wp-load.php        
wp-mail.php   
wp-signup.php    
xmlrpc.php
/wp-admin           
/wp-includes
wp.sql.bak
